{% extends 'blog/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h2>Bloglar </h2>
    <ol>
        {% for blog in blogs %}
            <li style="font-size: 20px;">
                {{ blog.title }}
                <p style="
                    background-color: silver;
                    padding: 20px;
                    border-radius: 20px;
                    color: black;">
                    {{ blog.content }}
                </p>
            </li>
        {% endfor %}
    </ol>
    <hr>
{% endblock %}
